<!--
  POST Map
-->

<div class="clearfix"></div>

{% if page.track %}
<section id="map_container" class="gpx clearfix" data-gpx-source="{{ page.track | relative_url }}" data-map-target="demo-map" data-track-color="{{ page.track_color }}" data-hide-elevation-profile="{{page.hide_elevation_profile}}" data-pin-base-path="{{ "/assets/img/pins/" | relative_url }}">
  <header>
    <h4 id="map-title">La Traccia</h4>
    <!--<h4>Traccia:&nbsp;<span class="track-name">Sto caricando...</span></h4>
     <span class="start"></span> -->
  </header>

  <article>
    <div class="map" id="demo-map"></div>
  </article>

  <div class="footer">
    <ul class="info">
      <li>
        <a href="{{ page.track | relative_url }}" data-toggle="tooltip" data-placement="top" title="" target="_blank" rel="noopener" aria-label="Scarica Traccia" data-original-title="Scarica Traccia">
          <i class="fas fa-map-marked-alt"></i>
        </a>
      </li>
      <li>Lunghezza:&nbsp;<span class="distance"></span>&nbsp;km</li>
      &mdash;
      <li>Altezza min.:&nbsp;<span class="elevation-min"></span>&nbsp;mt</li>
      &mdash;
      <li>Altezza. max.:&nbsp;<span class="elevation-max"></span>&nbsp;mt</li>
    </ul>
  </div>
</section>
{% endif %}
