<!--
  POST Map Script
-->

{% if page.track %}
<script type="application/javascript">

    function fireItUpTheMapYo() {
        var x = window.matchMedia("screen and (min-width:831px)").matches;
        if (x) {
            includeResources(function () {
                displayGpx(document.getElementById('map_container'));
            });
        } else {
            document.getElementById('demo-map').parentElement.style.display = "none";
            document.getElementById('map-title').innerHTML = "<button type=\"button\" class=\"btn btn-link btn btn-link font-weight-bold text-uppercase\">Vedi il percorso</button>";
            if (window.addEventListener)
                window.addEventListener("click", fireItUpTheMapMobile, false);
            else if (window.attachEvent)
                window.attachEvent("onclick", fireItUpTheMapMobile);
            else window.onclick = fireItUpTheMapMobile();
        }
    }

    function fireItUpTheMapMobile(){
        document.getElementById('demo-map').parentElement.style.display = "block";
        document.getElementById('map-title').textContent = "La Traccia";

        includeResources(function () {
            displayGpx(document.getElementById('map_container'));
        });

    }

    function includeJs(src, onLoad) {
        var element = document.createElement("script");
        element.src = src;
        element.defer = true;
        element.addEventListener("load", function (event) {
            onLoad.call();
        });
        document.body.appendChild(element);
    }

    function includeResources(onLoad) {
        includeJs("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js",
            function () {
                includeJs("https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.1/gpx.min.js", function () {
                    includeJs("https://unpkg.com/d3@4.13.0/build/d3.min.js", function () {
                        includeJs("https://cdn.jsdelivr.net/npm/@netmust/leaflet-elevation@0.0.2/leaflet-elevation.min.js", function () {
                            onLoad.call();
                        });
                    });
                });
            }
        );
    }

    if (window.addEventListener)
        window.addEventListener("load", fireItUpTheMapYo, false);
    else if (window.attachEvent)
        window.attachEvent("onload", fireItUpTheMapYo);
    else window.onload = fireItUpTheMapYo();

</script>
{% endif %}