@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

.pickatrek--illustration {
  /** background-color: whitesmoke; **/
  &.pickatrek--illustration_right {
    float: right;
    margin: 0.5rem 0rem 0.5rem 1.5rem;
  }

  &.pickatrek--illustration_left {
    float: left;
    margin: 0.5rem 1.5rem 0.5rem 0;
  }

  &.pickatrek--illustration_logo {
    width: 100%;
    &.pickatrek--illustration_logo svg {
      /* width:100px;*/
    }
  }

  figcaption {
    font-style: italic;
    width: 100%;
  }

  svg {
    width: 100%;
  }
}


@media all and (max-width: 830px) {
  .pickatrek--illustration {
    &.pickatrek--illustration_logo {
      margin: 1.5rem 0 1rem 0;
    }
  }
}

@media all and (max-width: 576px) {
  .pickatrek--illustration {
    width: 100%;
  }
}

#pat_logo_text {
  font-family: 'Assistant', sans-serif;
  text-transform: none !important;
}