---
---
.gpx {

  border: 2px #aaa solid;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #ccc;
  width: 800px;
  margin: 1em auto;
  font-family: 'Alegreya Sans SC', sans-serif;

  header {
    padding: 0.5em;
  }

  h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .start {
    font-size: smaller;
    color: #444;
  }

  .map {
    border: 1px #888 solid;
    border-left: none;
    border-right: none;
    width: 800px;
    height: 500px;
    margin: 0;
  }

  footer {
    background: #f0f0f0;
    padding: 0.5em;
  }

  ul.info {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: smaller;

    li {
      color: #666;
      padding: 2px;
      display: inline;

      span {
        color: black;
      }
    }
  }

}