---
layout: page
# The Home page layout
---
{% seo image=site.image %}

<div class="home-superpin__container">
  <h1 class="mb home-superpin__title">Pick-a-trek: diario di escursioni e di viaggi</h1>
  <div class="home-superpin__message">
    Ciao! Siamo <a href="{% link _tabs/about.md %}">Antonio e Marta</a>. Passiamo tutto il tempo che riusciamo sgambando per sentieri di montagna e non,
    in <a href="{{ '/categories/italia/' | relative_url }}">Italia</a> e in <a href="{{ '/categories/estero/' | relative_url }}">giro per il mondo</a>, quando gli impegni ce lo permettono :smile:
  </div>
  <div class="home-superpin__message mt-3">
    Abbiamo pensato di mettere insieme un po' dei sentieri che abbiamo percorso presentandoli come vorremmo fossero presentati a noi quando siamo alla ricerca di una nuova avventura.
  </div>
</div>

{% assign the_tracks = site.sentieri | sort: 'date' | reverse %}

  <div id="track-list">
    <h2>Gli ultimi sentieri</h2>
    {% for the_track in the_tracks limit:4 %}
      <div class="post-preview">
        <h3>
          <a href="{{ the_track.url | relative_url }}">{{ the_track.title }}</a>
        </h3>

        <div class="post-content">
          <p>
            {% include no-linenos.html content=the_track.content %}
            {{ content | markdownify | strip_html | truncate: 200 }}
          </p>
        </div>

        <div class="post-meta text-muted d-flex justify-content-between">
          <div>
            <i class="far fa-calendar fa-fw"></i>
            {% include timeago.html date=the_track.date tooltip=true %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="home-superpin__button d-flex flex-wrap mt-4 mb-1 mr-3">
    <a class="p-3" href="{% link _tabs/sentieri.md %}">Vedi tutti i sentieri</a>
  </div>

{% assign pinned = site.posts | where_exp: "item", "item.pin == true"  %}
{% assign default = site.posts | where_exp: "item", "item.pin != true"  %}
{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}


<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}


<div id="post-list">

    <h2>Aggiornamenti</h2>
{% for post in posts %}

  <div class="post-preview">
    <h3>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h3>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %}
        {{ content | markdownify | strip_html | truncate: 200 }}
      </p>
    </div>

    <div class="post-meta text-muted d-flex justify-content-between">

      <div>
        <!-- posted date -->
        <i class="far fa-calendar fa-fw"></i>
        {% include timeago.html date=post.date tooltip=true %}

        <!-- time to read -->
        <i class="far fa-clock fa-fw"></i>
        {% include read-time.html content=post.content %}

        <!-- page views -->
        {% if site.google_analytics.pv.enabled %}
        <i class="far fa-eye fa-fw"></i>
        <span id="pv_{{-post.title-}}" class="pageviews">
          <i class="fas fa-spinner fa-spin fa-fw"></i>
        </span>
        {% endif %}
      </div>

      {% if post.pin %}
      <div class="pin">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.label.pin_prompt | default: 'Pinned' }}</span>
      </div>
      {% endif %}

    </div> <!-- .post-meta -->

  </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
