---
layout: default
---

<div class="row">

    <div id="post-wrapper" class="col-12 col-lg-11 col-xl-8">

        <div class="post pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

            <h1 data-toc-skip>{{ page.title }}</h1>

            <div class="post-meta text-muted d-flex flex-column">
                <!-- Published date and author -->
                <div>
                    {% include timeago.html date=page.date tooltip=true %}
                    by
                    <span class="author">
            {{ page.author | default: site.author }}
          </span>
                </div>

                <div>
                    <!-- lastmod -->
                    {% if page.last_modified_at %}
                    <span>
            Updated
            {% include timeago.html date=page.last_modified_at class="lastmod" tooltip=true %}
          </span>
                    {% endif %}

                    <!-- read time -->
                    {% include read-time.html content=content %}

                    <!-- page views -->
                    {% if site.google_analytics.pv.enabled %}
                    <span id="pv" class="pageviews"><i class="fas fa-spinner fa-spin fa-fw"></i></span>
                    {% endif %}

                </div>

            </div> <!-- .post-meta -->

            <div class="post-content">

                {% if page.image.src %}
                <img src="{{ page.image.src }}" class="preview-img" alt="{{ page.image.alt | default: "Preview Image" }}">
                {% endif %}

                {{ content }}

                {% if page.track %}
                <section id="map_container" class="gpx" data-gpx-source="{{ page.track | relative_url }}" data-map-target="demo-map" data-track-color="{{ page.track_color }}">
                    <header>
                        <h4>Traccia:&nbsp;<span class="track-name">Sto caricando...</span></h4>
                        <span class="start"></span>
                    </header>

                    <article>
                        <div class="map" id="demo-map"></div>
                    </article>

                    <div class="footer">
                        <ul class="info">
                            <li>
                                <a href="{{ page.track | relative_url }}" data-toggle="tooltip" data-placement="top" title="" target="_blank" rel="noopener" aria-label="Scarica Traccia" data-original-title="Scarica Traccia">
                                    <i class="fas fa-map-marked-alt"></i>
                                </a>
                            </li>
                            <li>Lunghezza:&nbsp;<span class="distance"></span>&nbsp;km</li>
                            &mdash;
                            <li>Altezza min.:&nbsp;<span class="elevation-min"></span>&nbsp;mt</li>
                            &mdash;
                            <li>Altezza. max.:&nbsp;<span class="elevation-max"></span>&nbsp;mt</li>
                        </ul>
                    </div>
                </section>
                {% endif %}

            </div>

            <div class="post-tail-wrapper text-muted">

                <div class="post-tail-bottom
          d-flex justify-content-between align-items-center mt-3 pt-5 pb-2">
                    {% if site.data.rights.license %}
                    <div class="license-wrapper">
                        This post is licensed under
                        <a href="{{ site.data.rights.license.link }}">{{ site.data.rights.license.name }}</a>
                        by the author.
                    </div>
                    {% endif %}

                    {% include post-sharing.html %}

                </div><!-- .post-tail-bottom -->

            </div><!-- div.post-tail -->

        </div> <!-- .post -->


    </div> <!-- #post-wrapper -->

    {% assign enable_toc = false %}

    {% if site.toc and page.toc %}
    {% if content contains '<h2' or content contains '<h3' %}
    {% assign enable_toc = true %}
    {% endif %}
    {% endif %}

    {% include panel.html toc=enable_toc %}

</div> <!-- .row -->

<div class="row">
    <div class="col-12 col-lg-11 col-xl-8">
        <div id="post-extend-wrapper" class="pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

            {% include post-nav.html %}

            {% if site.disqus.comments and page.comments %}
            {% include disqus.html %}
            {% endif %}

        </div> <!-- #post-extend-wrapper -->

    </div> <!-- .col-* -->

</div> <!-- .row -->

{% if page.track %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.1/gpx.min.js"></script>
<script type="application/javascript">
    displayGpx(document.getElementById('map_container'));
</script>
{% endif %}

