.gpx {

  border: 2px #aaa solid;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #ccc;
  width: 100%;
  margin: 1em auto;

  header {
    background: #f0f0f0;
    color: black;
    padding: 0.5em;
    h4#map-title{
      margin-bottom: 0;
    }
  }

  h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .start {
    font-size: smaller;
    color: #444;
  }

  .map {
    border: 1px #888 solid;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 500px;
    margin: 0;
  }

  .footer {
    background: #f0f0f0;
    padding: 0.5em;
  }

  ul.info {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: smaller;

    li {
      color: #666;
      padding: 2px;
      display: inline;

      span {
        color: black;
      }
    }
  }

  .elevation-div {
    .elevation-summary {
      display: none;
    }
  }

}